/deployment.tmp/
cert
sharedcert
bin/
target/*
!target/.gitkeep
test-output/*
!test-output/.gitkeep
*.log
*.log.*
*.keep
.metadata
*.class
*.bar
*.jar
.recommenders
.settings
**/importFiles
**/logs
*.xsdzip
.settings
VSTS
log/
*.log
Firma/
log
/target/
